div{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: lightyellow;
    border-radius: 20%;
}

section{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

img{
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
}

button {
    width: 100px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    color: brown;
    background-color: yellow;
    border-radius: 20%;
}

p{
    margin: 10px;
    font-size: 20px;
    color: brown;
}